/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
    padding: 10px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav
{
    padding: 0;
    border: none;
    width: 230px;
}
.navbar .brand{
    background: url('../favicon.png') no-repeat 1em center;
    background-size: 1.5em;
    padding-left: 2.7em
}

a.nounderline
{
    text-decoration: none;
}

.table td.center
{
    text-align: center;
}

.dropdown-menu
{
    max-height: 600px;
    overflow-y: auto;
}
        .form-signin
        {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #bbb;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox
        {
            margin-bottom: 10px;
        }

        .form-signin input[type="text"],
        .form-signin input[type="password"]
        {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 4px 9px;
        }
#change_password form{
    margin: 0;
}